/*  App */

html,
body {
    overflow-x: hidden;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--gray-11) transparent;
}

.radix-themes {
	--default-font-family:  'DM Sans', serif;
	--heading-font-family: 'DM Sans', serif;
	--code-font-family: 'DM Sans', serif;
	--strong-font-family: 'DM Sans', serif;
	--em-font-family: 'DM Sans', serif;
	--quote-font-family: 'DM Sans', serif;
}

::-webkit-scrollbar {
    overflow: visible;
    width: 4px;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-11);
    height: 30px;
}

h1 {
    font-size: 54px;
    line-height: 1.1;
    font-family: 'DM Sans', serif;
}

h2 {
    font-size: 28px;
    font-family: 'DM Sans', serif;
}

h3 {
    font-size: 20px;
    font-family: 'DM Sans', serif;
}

h4 {
    font-size: 16px;
    font-family: 'DM Sans', serif;
    font-weight: 500;
}

h5 {
    font-size: 14px;
    font-family: 'DM Sans', serif;
    font-weight: 500;
}

@media (max-width: 640px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
  
}
