/*  App */

html,
body {
    overflow-x: hidden;
    font-optical-sizing: auto;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--gray-11) transparent;
}

.radix-themes {
	--default-font-family:  'Host Grotesk', sans-serif;
	--heading-font-family: 'Host Grotesk', sans-serif;
	--code-font-family: 'Host Grotesk', sans-serif;
	--strong-font-family: 'Host Grotesk', sans-serif;
	--em-font-family: 'Host Grotesk', sans-serif;
	--quote-font-family: 'Host Grotesk', sans-serif;
}

::-webkit-scrollbar {
    overflow: visible;
    width: 4px;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-11);
    height: 30px;
}

h1 {
    font-size: 54px;
    line-height: 1.1;
    letter-spacing: -1.25px;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 42px;
    line-height: 1.05;
    letter-spacing: -1.25px;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    // line-height: 1.05;
    letter-spacing: -0.5px;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: 400;
}

h5 {
    font-size: 14px;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: 400;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
  
}

// Toast

.toast {
  font-family: 'Inter Regular', sans-serif;
  font-size: 0.85em;
  background-color: var(--gray-12);
  color: var(--gray-1);
  box-shadow: none;
}
