/*  App */

html,
body {
    overflow-x: hidden;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--gray-11) transparent;
}

.radix-themes {
	--default-font-family:  'DM Sans', serif;
	--heading-font-family: 'DM Sans', serif;
	--code-font-family: 'DM Sans', serif;
	--strong-font-family: 'DM Sans', serif;
	--em-font-family: 'DM Sans', serif;
	--quote-font-family: 'DM Sans', serif;
}

::-webkit-scrollbar {
    overflow: visible;
    width: 4px;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-11);
    height: 30px;
}
